@keyframes spin {
  from {
		transform: rotate(0);
	}
	to {
		transform: rotate(360deg);
	}
}

.ring {
  height: 1em;
  min-height: 1em;
  width: 1em;
  min-width: 1em;
  box-sizing: border-box;
  border-radius: 100vmax;
  border: .125em solid var(--white);
  border-bottom-color: transparent;
  animation: spin 0.8s linear infinite;
  font-size: 24px;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  flex: 1;
}
