.form {
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;

  ::-webkit-scrollbar {
    display: none;
  }
}

.list {
  & > div {
    min-width: fit-content;
  }
}

.row {
  margin-block: 3px;
  display: grid;
  align-items: center;
  padding-inline: 5px;
  grid-template-columns: 1fr 6fr 1fr;
  gap: 5px;

  & > svg {
    flex-shrink: 0;
  }
}

.dragHandleWrapper {
  padding: .45em;
  cursor: grab;
  touch-action: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);

  &:active {
    cursor: grabbing;
  }
}

.textInput {
  background-color: transparent;
  color: var(--white);
  padding: 5px;
  border: 1px solid var(--purple);
  border-radius: 5px;
  outline: none;

  &:focus {
    border: 2px solid var(--purple);
  }
}

.buttonContainer {
  display: flex;
  gap: 20px;
}
