.pageContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
}

.controlsWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.controlsContainer {
  width: 100%;
  box-sizing: border-box;
  padding: 10px 20px 5px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 400px;
}

.controlButton {
  border: none;
  width: 35px;
  height: 35px;
  color: var(--white);
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;

  &[disabled] {
    opacity: .5;
    cursor: default;
  }
}

.controlMonth {
  padding: 0;
  margin: 0;
  min-width: 180px;
  display: grid;
  place-content: center;
  letter-spacing: 5px;
}

.monthWrapper {
  margin-top: 1em;
  display: flex;
  justify-content: center;
}

.monthContainer {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-content: space-between;
  gap: .8em;
  padding: 10px;
  max-height: calc(100vh - 95px - 82px);
  overflow-y: scroll;
  max-width: 800px;
}

.controlYear {
  text-align: center;
}

.dayLabel {
  text-align: center;
  font-weight: bold;
  margin: 0;
  width: 100%;
}
