:root {
  --white: #F8F8F2;
  --background: #282A36;
  --dark-background: #232530;
  --gray: #44475A;
  --neon-green: #50FA7B;
  --purple: #BD93F9
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
